@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --dark-bg: 0, 0, 0;
    --light-bg: 255, 255, 255;
  }
}
.primaryDarkBg {
  background-color: rgb(41 37 36);
}
.primaryLightBg {
  background-color: rgb(255, 255, 255);
}
.secondaryDarkBg {
  background-color: rgb(87 83 78);
}
.secondaryLightBg {
  background-color: rgb(212 212 212);
}
.primaryDarkText {
  color: rgb(245 245 245);
}
.primaryLightText {
  color: rgb(30 41 59);
}
.secondaryDarkText {
  color: rgb(163 163 163);
}
.secondaryLightText {
  color: rgb(82 82 82);
}
